@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import "variables";
@import "header";
@import "home";
@import "footer";

*{
    font-family: 'Montserrat', sans-serif;
}

.container {
    @media (min-width: 1920px) {
        max-width: 1600px;
        margin: 0 auto;
    }

    @media (max-width: 576px){
        padding: 30px 30px 0;
    }
}

.subheading{
    font-size: 14px;
    color: $secondary-color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.section-heading{
    font-size: 38px;
    font-weight: 700;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;

    @media (max-width: 768px) {
        font-size: 30px;
    }
}
